# Xcode
build/
DerivedData/
*.xcworkspace
*.xcuserdata
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Archives
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# SwiftPM (newer format)
.swiftpm/

# User settings (not for team sharing)
*.idea/
*.env
*.DS_Store

# Misc
*.log
*.tmp
*.orig
*.zip
